/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/about.scss */
p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, button, li::selection, iframe::selection, img::selection {
  background: #787697;
  color: white;
}

/* line 26, ../sass/about.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 30, ../sass/about.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 35, ../sass/about.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 39, ../sass/about.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
/* line 43, ../sass/about.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
/* line 47, ../sass/about.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
/* line 54, ../sass/about.scss */
.nav__link:hover {
  background-color: #dae1e6;
}

/* line 59, ../sass/about.scss */
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 67, ../sass/about.scss */
.lang-switch__ua, .lang-switch__ru {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 71, ../sass/about.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background: url("../img/ua-ico.png") no-repeat;
  display: block;
}
/* line 80, ../sass/about.scss */
.lang-switch__ru-link {
  background: url("../img/rus-ico.png") no-repeat;
}
/* line 85, ../sass/about.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 91, ../sass/about.scss */
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}

/* line 97, ../sass/about.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 102, ../sass/about.scss */
.contacts {
  margin-top: 25px;
}
/* line 104, ../sass/about.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  /* line 104, ../sass/about.scss */
  .contacts-box {
    width: auto;
  }
}

/* line 115, ../sass/about.scss */
.tel {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 120, ../sass/about.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background: url("../img/tel-about.png");
}
/* line 125, ../sass/about.scss */
.tel__number {
  color: #787697;
  font-weight: bold;
  font-size: 19px;
}

/* line 131, ../sass/about.scss */
.feedback {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211, 211, 211, 0.7);
}
/* line 140, ../sass/about.scss */
.feedback__inner {
  width: 400px;
  opacity: 1;
  background: lightgoldenrodyellow;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -200px;
  padding: 20px 15px 15px 10px;
  box-shadow: 0 2px 20px .5px black;
}
/* line 153, ../sass/about.scss */
.feedback__title {
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
}
/* line 158, ../sass/about.scss */
.feedback__input-text, .feedback__textarea {
  width: 100%;
  font-family: Neucha,cursive;
  margin-top: 10px;
  font-size: 19px;
  font-style: italic;
}
/* line 164, ../sass/about.scss */
.feedback__input-text:first-of-type, .feedback__textarea:first-of-type {
  margin-top: 20px;
}
/* line 167, ../sass/about.scss */
.feedback__input-text:focus, .feedback__textarea:focus {
  outline: 1px #787697 solid;
}
/* line 171, ../sass/about.scss */
.feedback__textarea {
  resize: none;
}
/* line 178, ../sass/about.scss */
.feedback__submit {
  position: absolute;
  right: 4%;
  bottom: 8%;
  width: 30px;
  height: 30px;
  background-color: #787697;
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 5px 30px;
  cursor: pointer;
}
/* line 192, ../sass/about.scss */
.feedback__submit:focus {
  outline: none;
}
/* line 196, ../sass/about.scss */
.feedback__close {
  width: 30px;
  height: 30px;
  background: url("../img/feedback-close-about.png") no-repeat;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
/* line 205, ../sass/about.scss */
.feedback__trigger {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #787697;
  border-radius: 20px;
}
/* line 212, ../sass/about.scss */
.feedback__trigger:focus {
  outline: none;
}
/* line 215, ../sass/about.scss */
.feedback__trigger:hover {
  cursor: pointer;
}

/* line 220, ../sass/about.scss */
.about {
  margin-top: 25px;
}
/* line 222, ../sass/about.scss */
.about__inner {
  width: 1024px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 222, ../sass/about.scss */
  .about__inner {
    width: auto;
    padding: 0 25px 0 25px;
  }
}
/* line 230, ../sass/about.scss */
.about__title {
  font-size: 45px;
  margin-bottom: 20px;
  color: #787697;
  font-weight: bold;
}
/* line 236, ../sass/about.scss */
.about__text {
  font-size: 19px;
  text-align: justify;
  line-height: 30px;
}

/* line 242, ../sass/about.scss */
.we-offer, .why-us {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 242, ../sass/about.scss */
  .we-offer, .why-us {
    flex-wrap: wrap;
    padding: 0 25px 0 25px;
    margin-top: 15px;
  }
}
/* line 251, ../sass/about.scss */
.we-offer__inner, .why-us__inner {
  width: 512px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 251, ../sass/about.scss */
  .we-offer__inner, .why-us__inner {
    width: 650px;
    order: 2;
    margin-top: 20px;
  }
}
/* line 259, ../sass/about.scss */
.we-offer__title, .why-us__title {
  font-size: 30px;
  color: #787697;
  font-weight: bold;
}
/* line 264, ../sass/about.scss */
.we-offer__services, .why-us__list {
  list-style: circle;
  list-style-position: inside;
  margin-top: 15px;
}
/* line 268, ../sass/about.scss */
.we-offer__services-item, .why-us__list-item {
  font-size: 19px;
  line-height: 30px;
}

/* line 274, ../sass/about.scss */
.slider {
  width: 512px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 274, ../sass/about.scss */
  .slider {
    width: 650px;
    order: 1;
  }
}

/* line 283, ../sass/about.scss */
.why-us__inner {
  padding-left: 30px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 283, ../sass/about.scss */
  .why-us__inner {
    padding: 0;
  }
}
/* line 290, ../sass/about.scss */
.why-us__video {
  width: 512px;
  height: 351px;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 290, ../sass/about.scss */
  .why-us__video {
    width: 650px;
    height: 450px;
  }
}

/* line 310, ../sass/about.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 70px;
  padding-top: 18px;
}

/* line 317, ../sass/about.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 321, ../sass/about.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 326, ../sass/about.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 332, ../sass/about.scss */
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
/* line 337, ../sass/about.scss */
.copyrights__img {
  background-image: url("../img/logo-small.png");
  width: 33px;
  height: 29px;
}
