/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/about.scss */
p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, button, li::selection, iframe::selection, img::selection {
  background: #787697;
  color: white;
}

/* line 25, ../sass/about.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 29, ../sass/about.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 34, ../sass/about.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 38, ../sass/about.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
/* line 42, ../sass/about.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
/* line 46, ../sass/about.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
/* line 53, ../sass/about.scss */
.nav__link:hover {
  background-color: #dae1e6;
}

/* line 58, ../sass/about.scss */
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 66, ../sass/about.scss */
.lang-switch__ua, .lang-switch__ru {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 70, ../sass/about.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background: url("../img/ua-ico.png") no-repeat;
  display: block;
}
/* line 79, ../sass/about.scss */
.lang-switch__ru-link {
  background: url("../img/rus-ico.png") no-repeat;
}
/* line 84, ../sass/about.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 90, ../sass/about.scss */
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}

/* line 96, ../sass/about.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 101, ../sass/about.scss */
.contacts {
  margin-top: 25px;
}
/* line 103, ../sass/about.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 111, ../sass/about.scss */
.tel {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 116, ../sass/about.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background: url("../img/tel-about.png");
}
/* line 121, ../sass/about.scss */
.tel__number {
  color: #787697;
  font-weight: bold;
  font-size: 19px;
}

/* line 128, ../sass/about.scss */
.feedback__trigger {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #787697;
  border-radius: 20px;
}
/* line 135, ../sass/about.scss */
.feedback__trigger:focus {
  outline: none;
}
/* line 138, ../sass/about.scss */
.feedback__trigger:hover {
  cursor: pointer;
}

/* line 142, ../sass/about.scss */
.about {
  margin-top: 25px;
}
/* line 144, ../sass/about.scss */
.about__inner {
  width: 1024px;
  margin: 0 auto;
}
/* line 148, ../sass/about.scss */
.about__title {
  font-size: 45px;
  margin-bottom: 20px;
  color: #787697;
  font-weight: bold;
}
/* line 154, ../sass/about.scss */
.about__text {
  font-size: 19px;
  text-align: justify;
  line-height: 30px;
}

/* line 160, ../sass/about.scss */
.we-offer, .why-us {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
/* line 164, ../sass/about.scss */
.we-offer__inner, .why-us__inner {
  width: 512px;
}
/* line 167, ../sass/about.scss */
.we-offer__title, .why-us__title {
  font-size: 30px;
  color: #787697;
  font-weight: bold;
}
/* line 172, ../sass/about.scss */
.we-offer__services, .why-us__list {
  list-style: circle;
  list-style-position: inside;
  margin-top: 15px;
}
/* line 176, ../sass/about.scss */
.we-offer__services-item, .why-us__list-item {
  font-size: 19px;
  line-height: 30px;
}

/* line 182, ../sass/about.scss */
.slider {
  width: 512px;
}

/* line 187, ../sass/about.scss */
.why-us__inner {
  padding-left: 30px;
}
/* line 191, ../sass/about.scss */
.why-us__video {
  width: 512px;
  height: 351px;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
}

/* line 207, ../sass/about.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 70px;
  padding-top: 18px;
}

/* line 214, ../sass/about.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 218, ../sass/about.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 223, ../sass/about.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 229, ../sass/about.scss */
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
/* line 234, ../sass/about.scss */
.copyrights__img {
  background-image: url("../img/logo-small.png");
  width: 33px;
  height: 29px;
}
