/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 *  */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/index.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 30, ../sass/index.scss */
*::-moz-selection {
  background: #6EB64A;
  color: white;
}
*::selection {
  background: #6EB64A;
  color: white;
}

/* line 34, ../sass/index.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 39, ../sass/index.scss */
.menu-burger {
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  padding: 15px 10px 5px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 39, ../sass/index.scss */
  .menu-burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 50, ../sass/index.scss */
.menu-burger_pressed {
  background-color: #dae1e6;
}
/* line 53, ../sass/index.scss */
.menu-burger__strip {
  width: 100%;
  height: 3px;
  background-color: black;
}

/* line 59, ../sass/index.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 59, ../sass/index.scss */
  .nav {
    display: none;
  }
}
/* line 66, ../sass/index.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 66, ../sass/index.scss */
  .nav__item {
    display: block;
    border: none;
  }
}
/* line 73, ../sass/index.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 73, ../sass/index.scss */
  .nav__item:last-of-type {
    border: none;
  }
}
/* line 80, ../sass/index.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
/* line 87, ../sass/index.scss */
.nav__link:hover {
  background-color: #dae1e6;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 80, ../sass/index.scss */
  .nav__link {
    padding: 15px 0;
    width: 100%;
  }
}

/* line 96, ../sass/index.scss */
.lang-switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 104, ../sass/index.scss */
.lang-switch__ua, .lang-switch__ru {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 108, ../sass/index.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background-image: url("../img/sprite.png");
  background-position: -10px -296px;
  display: block;
}
/* line 117, ../sass/index.scss */
.lang-switch__ru-link {
  background-image: url("../img/sprite.png");
  background-position: -130px -268px;
}
/* line 122, ../sass/index.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 128, ../sass/index.scss */
.logo {
  width: 200px;
  height: 219px;
  background-image: url("../img/sprite.png");
  background-position: -10px 0;
  margin: 0 auto;
}

/* line 134, ../sass/index.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 139, ../sass/index.scss */
.contacts {
  margin-top: 25px;
}
/* line 141, ../sass/index.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  /* line 141, ../sass/index.scss */
  .contacts-box {
    width: auto;
  }
}

/* line 152, ../sass/index.scss */
.tel {
  width: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 157, ../sass/index.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background-image: url("../img/sprite.png");
  background-position: -170px -268px;
}
/* line 162, ../sass/index.scss */
.tel__number {
  color: #6EB64A;
  font-weight: bold;
  font-size: 19px;
}

/* line 168, ../sass/index.scss */
.feedback {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211, 211, 211, 0.7);
}
/* line 177, ../sass/index.scss */
.feedback__inner {
  width: 400px;
  background: lightgoldenrodyellow;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -200px;
  padding: 20px 15px 15px 10px;
  box-shadow: 0 2px 20px .5px black;
  box-sizing: border-box;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 177, ../sass/index.scss */
  .feedback__inner {
    width: 300px;
    margin-left: -150px;
  }
}
@media (min-width: 300px) and (max-width: 549px) {
  /* line 177, ../sass/index.scss */
  .feedback__inner {
    width: 300px;
    margin-left: -150px;
  }
}
/* line 198, ../sass/index.scss */
.feedback__title {
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
  margin-right: 20px;
}
/* line 204, ../sass/index.scss */
.feedback__input-text, .feedback__textarea {
  width: 100%;
  font-family: Neucha,cursive;
  margin-top: 10px;
  font-size: 19px;
  font-style: italic;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 204, ../sass/index.scss */
  .feedback__input-text, .feedback__textarea {
    margin-top: 5px;
  }
}
/* line 213, ../sass/index.scss */
.feedback__input-text:first-of-type, .feedback__textarea:first-of-type {
  margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 213, ../sass/index.scss */
  .feedback__input-text:first-of-type, .feedback__textarea:first-of-type {
    margin-top: 10px;
  }
}
/* line 219, ../sass/index.scss */
.feedback__input-text:focus, .feedback__textarea:focus {
  outline: 1px #6EB64A solid;
}
/* line 223, ../sass/index.scss */
.feedback__textarea {
  resize: none;
}
/* line 230, ../sass/index.scss */
.feedback__submit {
  position: absolute;
  right: 4%;
  bottom: 8%;
  background-color: #6EB64A;
  background-image: url("../img/sprite.png");
  background-position: -118px -298px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 230, ../sass/index.scss */
  .feedback__submit {
    bottom: 6%;
  }
}
@media (min-width: 300px) and (max-width: 549px) {
  /* line 230, ../sass/index.scss */
  .feedback__submit {
    bottom: 6%;
  }
}
/* line 247, ../sass/index.scss */
.feedback__submit:focus {
  outline: none;
}
/* line 251, ../sass/index.scss */
.feedback__close {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -50px -255px;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
/* line 260, ../sass/index.scss */
.feedback__trigger {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #6EB64A;
  border-radius: 20px;
}
/* line 267, ../sass/index.scss */
.feedback__trigger:focus {
  outline: none;
}
/* line 270, ../sass/index.scss */
.feedback__trigger:hover {
  cursor: pointer;
}

/* line 275, ../sass/index.scss */
.actual {
  margin-top: 30px;
}
/* line 277, ../sass/index.scss */
.actual__title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
/* line 283, ../sass/index.scss */
.actual__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  width: 1024px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 283, ../sass/index.scss */
  .actual__inner {
    width: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 283, ../sass/index.scss */
  .actual__inner {
    width: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 297, ../sass/index.scss */
.actual__article {
  width: 32%;
  border: 1px solid;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 297, ../sass/index.scss */
  .actual__article {
    width: 330px;
    margin: 0 auto 25px auto;
  }
}
/* line 304, ../sass/index.scss */
.actual__article-img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}
/* line 309, ../sass/index.scss */
.actual__article-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
/* line 315, ../sass/index.scss */
.actual__article-text {
  font-size: 19px;
  line-height: 30px;
  padding: 0 15px 10px 15px;
}

/* line 322, ../sass/index.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 70px;
  padding-top: 18px;
}

/* line 329, ../sass/index.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 333, ../sass/index.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 338, ../sass/index.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 344, ../sass/index.scss */
.copyrights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto;
}
/* line 349, ../sass/index.scss */
.copyrights__img {
  background-image: url("../img/sprite.png");
  background-position: -142px -229px;
  width: 33px;
  height: 29px;
}