/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/repertory.scss */
*::selection {
  background: #51B3B6;
  color: white;
}

/* line 28, ../sass/repertory.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 32, ../sass/repertory.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 37, ../sass/repertory.scss */
.menu-burger {
  display: none;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  padding: 15px 10px 5px 10px;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 37, ../sass/repertory.scss */
  .menu-burger {
    display: flex;
  }
}
/* line 48, ../sass/repertory.scss */
.menu-burger_pressed {
  background-color: #dae1e6;
}
/* line 51, ../sass/repertory.scss */
.menu-burger__strip {
  width: 100%;
  height: 3px;
  background-color: black;
}

/* line 57, ../sass/repertory.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 57, ../sass/repertory.scss */
  .nav {
    display: none;
  }
}
/* line 64, ../sass/repertory.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 64, ../sass/repertory.scss */
  .nav__item {
    display: block;
    border: none;
  }
}
/* line 71, ../sass/repertory.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
/* line 75, ../sass/repertory.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 75, ../sass/repertory.scss */
  .nav__link {
    padding: 15px 0;
    width: 100%;
  }
}
/* line 86, ../sass/repertory.scss */
.nav__link:hover {
  background-color: #dae1e6;
}

/* line 91, ../sass/repertory.scss */
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 99, ../sass/repertory.scss */
.lang-switch__ua, .lang-switch__ru {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 103, ../sass/repertory.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background: url("../img/ua-ico.png") no-repeat;
  display: block;
}
/* line 112, ../sass/repertory.scss */
.lang-switch__ru-link {
  background: url("../img/rus-ico.png") no-repeat;
}
/* line 117, ../sass/repertory.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 123, ../sass/repertory.scss */
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}

/* line 129, ../sass/repertory.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 134, ../sass/repertory.scss */
.contacts {
  margin-top: 25px;
}
/* line 136, ../sass/repertory.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  /* line 136, ../sass/repertory.scss */
  .contacts-box {
    width: auto;
  }
}

/* line 147, ../sass/repertory.scss */
.tel {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 152, ../sass/repertory.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background: url("../img/tel-repertory.png");
}
/* line 157, ../sass/repertory.scss */
.tel__number {
  color: #51B3B6;
  font-weight: bold;
  font-size: 19px;
}

/* line 163, ../sass/repertory.scss */
.feedback {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211, 211, 211, 0.7);
}
/* line 172, ../sass/repertory.scss */
.feedback__inner {
  width: 400px;
  background: lightgoldenrodyellow;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -200px;
  padding: 20px 15px 15px 10px;
  box-shadow: 0 2px 20px .5px black;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 172, ../sass/repertory.scss */
  .feedback__inner {
    width: 300px;
    margin-left: -150px;
  }
}
/* line 188, ../sass/repertory.scss */
.feedback__title {
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
}
/* line 193, ../sass/repertory.scss */
.feedback__input-text, .feedback__textarea {
  width: 100%;
  font-family: Neucha,cursive;
  margin-top: 10px;
  font-size: 19px;
  font-style: italic;
}
/* line 199, ../sass/repertory.scss */
.feedback__input-text:first-of-type, .feedback__textarea:first-of-type {
  margin-top: 20px;
}
/* line 202, ../sass/repertory.scss */
.feedback__input-text:focus, .feedback__textarea:focus {
  outline: 1px #51B3B6 solid;
}
/* line 206, ../sass/repertory.scss */
.feedback__textarea {
  resize: none;
}
/* line 213, ../sass/repertory.scss */
.feedback__submit {
  position: absolute;
  right: 4%;
  bottom: 8%;
  width: 30px;
  height: 30px;
  background-color: #51B3B6;
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 5px 30px;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 213, ../sass/repertory.scss */
  .feedback__submit {
    bottom: 6%;
  }
}
/* line 230, ../sass/repertory.scss */
.feedback__submit:focus {
  outline: none;
}
/* line 234, ../sass/repertory.scss */
.feedback__close {
  width: 30px;
  height: 30px;
  background: url("../img/feedback-close-repertory.png") no-repeat;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
/* line 243, ../sass/repertory.scss */
.feedback__trigger {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #51B3B6;
  border-radius: 20px;
}
/* line 250, ../sass/repertory.scss */
.feedback__trigger:focus {
  outline: none;
}
/* line 253, ../sass/repertory.scss */
.feedback__trigger:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 258, ../sass/repertory.scss */
  .content {
    padding: 0 25px 0 25px;
  }
}

/* line 264, ../sass/repertory.scss */
.shows {
  margin-top: 25px;
}
/* line 266, ../sass/repertory.scss */
.shows__title {
  width: 100%;
  font-size: 45px;
  margin-bottom: 20px;
  color: #51B3B6;
  font-weight: bold;
}
/* line 273, ../sass/repertory.scss */
.shows__inner {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 273, ../sass/repertory.scss */
  .shows__inner {
    width: auto;
    padding: 0 25px 0 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 273, ../sass/repertory.scss */
  .shows__inner {
    width: auto;
    padding: 0 20px 0 15px;
  }
}
/* line 287, ../sass/repertory.scss */
.shows__list {
  width: 30%;
  min-width: 200px;
}
/* line 291, ../sass/repertory.scss */
.shows__description {
  width: 70%;
  box-sizing: border-box;
  margin-top: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 291, ../sass/repertory.scss */
  .shows__description {
    width: 53%;
  }
}

/* line 300, ../sass/repertory.scss */
.for-young, .for-senior {
  margin: 15px 0 0 0;
  padding: 0;
}
/* line 303, ../sass/repertory.scss */
.for-young__title, .for-senior__title {
  font-size: 30px;
  color: #51B3B6;
  font-weight: bold;
  margin: 0 0 15px 0;
}
/* line 309, ../sass/repertory.scss */
.for-young__item, .for-senior__item {
  font-size: 19px;
  line-height: 25px;
  cursor: pointer;
}

/* line 325, ../sass/repertory.scss */
.active {
  background: #51B3B6;
  color: white;
  width: 200px;
}

/* line 332, ../sass/repertory.scss */
.show {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 332, ../sass/repertory.scss */
  .show {
    padding-left: 20px;
  }
}
/* line 337, ../sass/repertory.scss */
.show :after {
  content: '';
  display: table;
  clear: both;
}
/* line 342, ../sass/repertory.scss */
.show__title {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
  width: 100%;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 342, ../sass/repertory.scss */
  .show__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
/* line 354, ../sass/repertory.scss */
.show__img {
  width: 100%;
  max-width: 100%;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
}
/* line 359, ../sass/repertory.scss */
.show__img_vertical {
  width: auto;
  max-width: 60%;
  height: auto;
  float: left;
  margin-right: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  /* line 359, ../sass/repertory.scss */
  .show__img_vertical {
    float: none;
    max-width: 100%;
  }
}
/* line 371, ../sass/repertory.scss */
.show__text {
  font-size: 19px;
  line-height: 30px;
  margin-top: 15px;
}
/* line 377, ../sass/repertory.scss */
.show__active {
  display: block;
}

/* line 383, ../sass/repertory.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 70px;
  padding-top: 18px;
}

/* line 390, ../sass/repertory.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 394, ../sass/repertory.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 399, ../sass/repertory.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 405, ../sass/repertory.scss */
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
/* line 410, ../sass/repertory.scss */
.copyrights__img {
  background-image: url("../img/logo-small.png");
  width: 33px;
  height: 29px;
}
