/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/repertory.scss */
*::selection {
  background: #51B3B6;
  color: white;
}

/* line 29, ../sass/repertory.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 33, ../sass/repertory.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 38, ../sass/repertory.scss */
.menu-burger {
  display: none;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  padding: 15px 10px 5px 10px;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 38, ../sass/repertory.scss */
  .menu-burger {
    display: flex;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 38, ../sass/repertory.scss */
  .menu-burger {
    display: flex;
  }
}
/* line 52, ../sass/repertory.scss */
.menu-burger_pressed {
  background-color: #dae1e6;
}
/* line 55, ../sass/repertory.scss */
.menu-burger__strip {
  width: 100%;
  height: 3px;
  background-color: black;
}

/* line 61, ../sass/repertory.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 61, ../sass/repertory.scss */
  .nav {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 61, ../sass/repertory.scss */
  .nav {
    display: none;
  }
}
/* line 71, ../sass/repertory.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 71, ../sass/repertory.scss */
  .nav__item {
    display: block;
    border: none;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 71, ../sass/repertory.scss */
  .nav__item {
    display: block;
    border: none;
  }
}
/* line 82, ../sass/repertory.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
/* line 86, ../sass/repertory.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 86, ../sass/repertory.scss */
  .nav__link {
    padding: 15px 0;
    width: 100%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 86, ../sass/repertory.scss */
  .nav__link {
    padding: 10px 0;
    width: 100%;
  }
}
/* line 101, ../sass/repertory.scss */
.nav__link:hover {
  background-color: #dae1e6;
}

/* line 106, ../sass/repertory.scss */
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 114, ../sass/repertory.scss */
.lang-switch__ua, .lang-switch__ru {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 118, ../sass/repertory.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background: url("../img/ua-ico.png") no-repeat;
  display: block;
}
/* line 127, ../sass/repertory.scss */
.lang-switch__ru-link {
  background: url("../img/rus-ico.png") no-repeat;
}
/* line 132, ../sass/repertory.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 138, ../sass/repertory.scss */
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}

/* line 144, ../sass/repertory.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 149, ../sass/repertory.scss */
.contacts {
  margin-top: 25px;
}
/* line 151, ../sass/repertory.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  /* line 151, ../sass/repertory.scss */
  .contacts-box {
    width: auto;
  }
}

/* line 162, ../sass/repertory.scss */
.tel {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 167, ../sass/repertory.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background: url("../img/tel-repertory.png");
}
/* line 172, ../sass/repertory.scss */
.tel__number {
  color: #51B3B6;
  font-weight: bold;
  font-size: 19px;
}

/* line 178, ../sass/repertory.scss */
.feedback {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211, 211, 211, 0.7);
}
/* line 187, ../sass/repertory.scss */
.feedback__inner {
  width: 400px;
  background: lightgoldenrodyellow;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -200px;
  padding: 20px 15px 15px 10px;
  box-shadow: 0 2px 20px .5px black;
  box-sizing: border-box;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 187, ../sass/repertory.scss */
  .feedback__inner {
    width: 300px;
    margin-left: -150px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 187, ../sass/repertory.scss */
  .feedback__inner {
    width: 300px;
    margin-left: -150px;
  }
}
/* line 208, ../sass/repertory.scss */
.feedback__title {
  font-size: 19px;
  font-weight: bold;
  line-height: 25px;
}
/* line 213, ../sass/repertory.scss */
.feedback__input-text, .feedback__textarea {
  width: 100%;
  font-family: Neucha,cursive;
  margin-top: 10px;
  font-size: 19px;
  font-style: italic;
}
/* line 219, ../sass/repertory.scss */
.feedback__input-text:first-of-type, .feedback__textarea:first-of-type {
  margin-top: 20px;
}
/* line 222, ../sass/repertory.scss */
.feedback__input-text:focus, .feedback__textarea:focus {
  outline: 1px #51B3B6 solid;
}
/* line 226, ../sass/repertory.scss */
.feedback__textarea {
  resize: none;
}
/* line 233, ../sass/repertory.scss */
.feedback__submit {
  position: absolute;
  right: 4%;
  bottom: 8%;
  width: 30px;
  height: 30px;
  background-color: #51B3B6;
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 5px 30px;
  cursor: pointer;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 233, ../sass/repertory.scss */
  .feedback__submit {
    bottom: 6%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 233, ../sass/repertory.scss */
  .feedback__submit {
    bottom: 6%;
  }
}
/* line 253, ../sass/repertory.scss */
.feedback__submit:focus {
  outline: none;
}
/* line 257, ../sass/repertory.scss */
.feedback__close {
  width: 30px;
  height: 30px;
  background: url("../img/feedback-close-repertory.png") no-repeat;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
/* line 266, ../sass/repertory.scss */
.feedback__trigger {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #51B3B6;
  border-radius: 20px;
}
/* line 273, ../sass/repertory.scss */
.feedback__trigger:focus {
  outline: none;
}
/* line 276, ../sass/repertory.scss */
.feedback__trigger:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* line 281, ../sass/repertory.scss */
  .content {
    padding: 0 25px 0 25px;
  }
}

/* line 287, ../sass/repertory.scss */
.shows {
  margin-top: 25px;
}
/* line 289, ../sass/repertory.scss */
.shows__title {
  width: 100%;
  font-size: 45px;
  margin-bottom: 20px;
  color: #51B3B6;
  font-weight: bold;
}
/* line 296, ../sass/repertory.scss */
.shows__inner {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  outline: 1px solid black;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 296, ../sass/repertory.scss */
  .shows__inner {
    width: auto;
    padding: 0 25px 0 15px;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 296, ../sass/repertory.scss */
  .shows__inner {
    width: auto;
    padding: 0 20px 0 15px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 296, ../sass/repertory.scss */
  .shows__inner {
    width: auto;
    padding-bottom: 50px;
    overflow: hidden;
  }
}
/* line 318, ../sass/repertory.scss */
.shows__list {
  width: 30%;
  min-width: 200px;
  outline: 1px solid blue;
}
/* line 323, ../sass/repertory.scss */
.shows__description {
  width: 69%;
  max-width: 100%;
  box-sizing: border-box;
  outline: 1px solid red;
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 323, ../sass/repertory.scss */
  .shows__description {
    position: absolute;
  }
}

/* line 334, ../sass/repertory.scss */
.for-young, .for-senior {
  margin: 15px 0 0 0;
  padding: 0;
}
/* line 337, ../sass/repertory.scss */
.for-young__title, .for-senior__title {
  font-size: 30px;
  color: #51B3B6;
  font-weight: bold;
  margin: 0 0 15px 0;
}
/* line 343, ../sass/repertory.scss */
.for-young__item, .for-senior__item {
  font-size: 19px;
  line-height: 25px;
  cursor: pointer;
}

/* line 359, ../sass/repertory.scss */
.active {
  background: #51B3B6;
  color: white;
  width: 200px;
}

/* line 365, ../sass/repertory.scss */
.show {
  display: none;
  box-sizing: border-box;
  padding: 10px 5px 5px 5px;
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 365, ../sass/repertory.scss */
  .show {
    position: absolute;
    z-index: 100;
    right: -230px;
    width: 320px;
    border: 2px solid;
    background: white;
    box-shadow: 0 2px 20px .5px black;
  }
}
/* line 381, ../sass/repertory.scss */
.show:first-of-type {
  display: block;
  right: 110px;
}
/* line 385, ../sass/repertory.scss */
.show :after {
  content: '';
  display: table;
  clear: both;
}
/* line 390, ../sass/repertory.scss */
.show__close-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1%;
  top: 1%;
  background: url("../img/feedback-close-repertory.png") center;
  cursor: pointer;
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 390, ../sass/repertory.scss */
  .show__close-btn {
    display: block;
  }
}
/* line 403, ../sass/repertory.scss */
.show__title {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
  width: 100%;
  text-align: right;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 403, ../sass/repertory.scss */
  .show__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 403, ../sass/repertory.scss */
  .show__title {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: -5px;
    text-indent: 15px;
  }
}
/* line 421, ../sass/repertory.scss */
.show__img {
  width: 100%;
  max-width: 100%;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
  box-sizing: border-box;
}
/* line 427, ../sass/repertory.scss */
.show__img_vertical {
  width: auto;
  max-width: 60%;
  height: auto;
  float: left;
  margin-right: 15px;
  box-sizing: border-box;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 427, ../sass/repertory.scss */
  .show__img_vertical {
    float: none;
    max-width: 100%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 427, ../sass/repertory.scss */
  .show__img_vertical {
    float: none;
    max-width: 100%;
  }
}
/* line 444, ../sass/repertory.scss */
.show__text {
  font-size: 19px;
  line-height: 30px;
  margin-top: 15px;
}
@media (min-width: 501px) and (max-width: 767px) {
  /* line 444, ../sass/repertory.scss */
  .show__text {
    padding: 0 10px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  /* line 444, ../sass/repertory.scss */
  .show__text {
    padding: 0 10px;
  }
}

/* line 457, ../sass/repertory.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 70px;
  padding-top: 18px;
}

/* line 464, ../sass/repertory.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 468, ../sass/repertory.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 473, ../sass/repertory.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 479, ../sass/repertory.scss */
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
/* line 484, ../sass/repertory.scss */
.copyrights__img {
  background-image: url("../img/logo-small.png");
  width: 33px;
  height: 29px;
}
