/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Kremlin';
  src: url("../fonts/Kremlin.ttf");
}
/* line 30, ../sass/screen.scss */
body {
  font-family: 'Neucha', cursive;
  background: url("../img/WhiteBg1.jpg") repeat;
}

/* line 34, ../sass/screen.scss */
.header {
  position: relative;
  background: #E9EDF0;
  border-bottom: 3px solid #dae1e6;
}

/* line 40, ../sass/screen.scss */
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 44, ../sass/screen.scss */
.nav__item {
  display: inline-block;
  border-left: 2px solid white;
}
/* line 48, ../sass/screen.scss */
.nav__item:last-of-type {
  border-right: 2px solid white;
}
/* line 52, ../sass/screen.scss */
.nav__link {
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  color: black;
}
/* line 59, ../sass/screen.scss */
.nav__link:hover {
  background-color: #dae1e6;
}

/* line 64, ../sass/screen.scss */
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 72, ../sass/screen.scss */
.lang-switch__ua, .lang-switch__ru {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 76, ../sass/screen.scss */
.lang-switch__ua-link, .lang-switch__ru-link {
  width: 30px;
  height: 30px;
  background: url("../img/ua-ico.png") no-repeat;
  display: block;
}
/* line 86, ../sass/screen.scss */
.lang-switch__ru-link {
  background: url("../img/rus-ico.png") no-repeat;
}
/* line 91, ../sass/screen.scss */
.lang-switch__text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* line 97, ../sass/screen.scss */
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}

/* line 103, ../sass/screen.scss */
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

/* line 108, ../sass/screen.scss */
.contacts {
  margin-top: 25px;
}
/* line 110, ../sass/screen.scss */
.contacts-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 118, ../sass/screen.scss */
.tel {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 123, ../sass/screen.scss */
.tel__ico {
  width: 30px;
  height: 30px;
  background: url("../img/tel.png");
}
/* line 128, ../sass/screen.scss */
.tel__number {
  color: #6EB64A;
  font-weight: bold;
  font-size: 19px;
}

/* line 135, ../sass/screen.scss */
.feedback {
  padding-right: 20px;
}
/* line 137, ../sass/screen.scss */
.feedback__btn {
  width: 160px;
  height: 35px;
  color: white;
  font-weight: bold;
  background: #6EB64A;
  border-radius: 20px;
}
/* line 144, ../sass/screen.scss */
.feedback__btn:focus {
  outline: none;
}
/* line 147, ../sass/screen.scss */
.feedback__btn:hover {
  cursor: pointer;
}

/* line 152, ../sass/screen.scss */
.actual {
  margin-top: 30px;
}
/* line 154, ../sass/screen.scss */
.actual__title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
/* line 160, ../sass/screen.scss */
.actual__inner {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  width: 1024px;
}
/* line 166, ../sass/screen.scss */
.actual__article {
  width: 32%;
  border: 1px solid;
}
/* line 169, ../sass/screen.scss */
.actual__article-img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}
/* line 174, ../sass/screen.scss */
.actual__article-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
/* line 180, ../sass/screen.scss */
.actual__article-text {
  font-size: 19px;
  padding: 0 15px 10px 15px;
}

/* line 186, ../sass/screen.scss */
.main-footer {
  background: #E9EDF0;
  border-top: 3px solid #dae1e6;
  height: 70px;
  margin-top: 40px;
  padding-top: 18px;
}

/* line 193, ../sass/screen.scss */
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
}
/* line 197, ../sass/screen.scss */
.footer-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
/* line 202, ../sass/screen.scss */
.footer-nav__link {
  font-size: 16px;
  color: black;
  text-transform: lowercase;
}

/* line 208, ../sass/screen.scss */
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
/* line 213, ../sass/screen.scss */
.copyrights__img {
  background-image: url("../img/logo-small.png");
  width: 33px;
  height: 29px;
}
