@import "compass/reset";

//declare variables
$headerBg: #E9EDF0;
$footerBg: #E9EDF0;
$headerBorder: darken($headerBg, 5%);
$mainColor: #787697;
// declare mixins
@mixin out {
  outline: 1px solid red;
}
@mixin out2 {
  outline: 1px solid blue;
}
@mixin out3 {
  outline: 1px solid black;
}
@mixin mainFont {
  font-family: 'Neucha', cursive;
}
p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, button, li::selection {
  background: $mainColor;
  color: white;
}
body {
  @include mainFont;
  background: url("../img/WhiteBg1.jpg") repeat;
}
.header {
  position: relative;
  background: $headerBg;
  border-bottom: 3px solid $headerBorder;
}
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
  &__item {
    display: inline-block;
    border-left: 2px solid white;

    &:last-of-type {
      border-right: 2px solid white;
    }
  }
  &__link {
    padding: 15px 40px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    color: black;
    &:hover {
      background-color: $headerBorder;
    }
  }
}
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;//mbd
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  &__ua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-link {
      width: 30px;
      height: 30px;
      background: url("../img/ua-ico.png")no-repeat;
      display: block;
    }
  }
  &__ru {
    @extend .lang-switch__ua;
    &-link {
      @extend .lang-switch__ua-link;
      background: url("../img/rus-ico.png")no-repeat;
    }
  }
  &__text a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.contacts {
  margin-top: 25px;
  &-box {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.tel {
  width: 150px;//mbd
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__ico {
    width: 30px;
    height: 30px;
    background: url("../img/tel-about.png");
  }
  &__number {
    color: $mainColor;
    font-weight: bold;
    font-size: 19px;
  }
}

.feedback {
  padding-right: 20px;
  &__btn {
    width: 160px;
    height: 35px;
    color: white;
    font-weight: bold;
    background: $mainColor;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.about {
  margin-top: 25px;
  &__inner {
    width: 1024px;
    margin: 0 auto;
  }
  &__title {
    font-size: 45px;
    margin-bottom: 20px;
    color: $mainColor;
    font-weight: bold;
  }
  &__text {
    font-size: 19px;
    text-align: justify;
    line-height: 30px;
  }
}
.we-offer {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  &__inner {
    width: 512px;
  }
  &__title {
    font-size: 30px;
    color: $mainColor;
    font-weight: bold;
  }
  &__services {
    list-style: circle;
    list-style-position: inside;
    margin-top: 15px;
    &-item {
      font-size: 19px;
      line-height: 30px;
    }
  }
}
.slider {
  width: 512px;
}
.why-us {
  @extend .we-offer;
  &__inner {
    @extend .we-offer__inner;
    padding-left: 30px;
  }
  &__video {
    width: 512px;
    height: 340px;
    border: 5px solid #fff;
    box-shadow: 0 0 5px #ccc;
  }
  &__title {
    @extend .we-offer__title;
  }
  &__list {
    @extend .we-offer__services;
    &-item {
      @extend .we-offer__services-item;
    }
  }
}
.main-footer {
  background: $footerBg;
  border-top: 3px solid $headerBorder;
  height: 70px;//mbd
  margin-top: 70px;
  padding-top: 18px;
}
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
  &__item {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
  }
  &__link {
    font-size: 16px;
    color: black;
    text-transform: lowercase;
  }
}
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  &__img {
    background-image: url("../img/logo-small.png");
    width: 33px;
    height: 29px;
  }
}