@import "compass/reset";

//declare variables
$headerBg: #E9EDF0;
$footerBg: #E9EDF0;
$headerBorder: darken($headerBg, 5%);
$mainColor: #51B3B6;
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$tel: "(min-width: 550px) and (max-width: 767px)";
$xsTel: "(min-width: 300px) and (max-width: 549px)";

// declare mixins
@mixin out {
  outline: 1px solid red;
}
@mixin out2 {
  outline: 1px solid blue;
}
@mixin out3 {
  outline: 1px solid black;
}
@mixin mainFont {
  font-family: 'Neucha', cursive;
}
*::selection {
  background: $mainColor;
  color: white;
}
body {
  @include mainFont;
  background: url("../img/WhiteBg1.jpg") repeat;
}
.header {
  position: relative;
  background: $headerBg;
  border-bottom: 3px solid $headerBorder;
}
.menu-burger {
  display: none;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  padding: 15px 10px 5px 10px;
  justify-content: center;
  cursor: pointer;
  @media #{$tel} {
    display: flex;
  }
  @media #{$xsTel} {
    display: flex;
  }
  &_pressed {
    background-color: $headerBorder;
  }
  &__strip {
    width: 100%;
    height: 3px;
    background-color: black;
  }
}
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
  @media #{$tel} {
    display: none;
  }
  @media #{$xsTel} {
    display: none;
  }
  &__item {
    display: inline-block;
    border-left: 2px solid white;
    @media #{$tel} {
      display: block;
      border: none;
    }
    @media #{$xsTel} {
      display: block;
      border: none;
    }
    &:last-of-type {
      border-right: 2px solid white;
    }
  }
  &__link {
    padding: 15px 40px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    color: black;
    @media #{$tel} {
      padding: 15px 0;
      width: 100%;
    }
    @media #{$xsTel} {
      padding: 10px 0;
      width: 100%;
    }
    &:hover {
      background-color: $headerBorder;
    }
  }
}
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  &__ua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-link {
      width: 30px;
      height: 30px;
      background: url("../img/ua-ico.png")no-repeat;
      display: block;
    }
  }
  &__ru {
    @extend .lang-switch__ua;
    &-link {
      @extend .lang-switch__ua-link;
      background: url("../img/rus-ico.png")no-repeat;
    }
  }
  &__text a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
.logo {
  width: 200px;
  height: 219px;
  background: url("../img/logo-main.png");
  margin: 0 auto;
}
.main-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.contacts {
  margin-top: 25px;
  &-box {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media  screen and ('max-width: 1024px') {
      width: auto;
    }
  }
}
.tel {
  width: 150px;//mbd
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__ico {
    width: 30px;
    height: 30px;
    background: url("../img/tel-repertory.png");
  }
  &__number {
    color: $mainColor;
    font-weight: bold;
    font-size: 19px;
  }
}
.feedback {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211,211,211, .7);
  &__inner {
    width: 400px;
    background: lightgoldenrodyellow;
    position:fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -200px;
    padding: 20px 15px 15px 10px;
    box-shadow: 0 2px 20px .5px black;
    box-sizing: border-box;
    @media #{$tel} {
      width: 300px;
      margin-left: -150px;
    }
    @media #{$xsTel} {
      width: 300px;
      margin-left: -150px;
    }
  }
  &__title {
    font-size: 19px;
    font-weight: bold;
    line-height: 25px;
  }
  &__input-text {
    width: 100%;
    font-family: Neucha,cursive;
    margin-top: 10px;
    font-size: 19px;
    font-style: italic;
    @media #{$tel} {
      margin-top: 5px;
    }
    &:first-of-type {
      margin-top: 20px;
      @media #{$tel} {
        margin-top: 10px;
      }
    }
    &:focus {
      outline: 1px $mainColor solid;
    }
  }
  &__textarea {
    @extend .feedback__input-text;
    resize: none;
    &:focus {
      @extend .feedback__input-text:focus;
    }
  }
  &__submit {
    position: absolute;
    right: 4%;
    bottom: 8%;
    width: 30px;
    height: 30px;
    background-color: $mainColor;
    background-image: url("../img/check.png");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 5px 30px;
    cursor: pointer;
    @media #{$tel} {
      bottom: 6%;
    }
    @media #{$xsTel} {
      bottom: 6%;
    }
    &:focus {
      outline: none;
    }
  }
  &__close {
    width: 30px;
    height: 30px;
    background: url("../img/feedback-close-repertory.png") no-repeat;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
  }
  &__trigger {
    width: 160px;
    height: 35px;
    color: white;
    font-weight: bold;
    background: $mainColor;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.content {
  @media #{$tablet} {
    padding: 0 25px 0 25px;
  }
}
//section
.shows {
  margin-top: 25px;
  &__title {
    width: 100%;
    font-size: 45px;
    margin-bottom: 20px;
    color: $mainColor;
    font-weight: bold;
  }
  &__inner {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;

    @media #{$tablet} {
      width: auto;
      padding: 0 25px 0 15px;
    }
    @media #{$tel} {
      width: auto;
      padding: 0 20px 0 15px;
    }
    @media #{$xsTel} {
      width: auto;
      padding-bottom: 50px;
      overflow: hidden;
    }
  }
  &__list {
    width: 30%;
    min-width: 200px;
    @media #{$tel} {
      flex: 1;
    }
  }
  &__description {
    width: 70%;
    max-width: 100%;
    box-sizing: border-box;
    @media #{$tel} {
      flex: 2;
    }
    @media #{$xsTel} {
      position: absolute;
    }
  }
}
.for-young {
  margin: 15px 0 0 0;
  padding: 0;
  &__title {
    font-size: 30px;
    color: $mainColor;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
  &__item {
    font-size: 19px;
    line-height: 25px;
    cursor: pointer;
  }

}
.for-senior {
  @extend .for-young;
  &__title {
    @extend .for-young__title;
  }
  &__item {
    @extend .for-young__item;
  }
}
.active {
  background: $mainColor;
  color: white;
  width: 200px;
}

.show {
  display: none;
  box-sizing: border-box;
  padding: 10px 5px 5px 5px;
  @media #{$tel} {
  }
  @media #{$xsTel} {
    position: absolute;
    z-index: 100;
    right: -230px;
    width: 320px;
    border: 2px solid;
    background: white;
    box-shadow: 0 2px 20px .5px black;
  }
  &:first-of-type {
  display: block;
  right: 100px;
}
  :after {
    content: '';
    display: table;
    clear: both;
  }
  &__close-btn {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1%;
    top: 1%;
    background: url('../img/feedback-close-repertory.png') center;
    cursor: pointer;
    @media #{$xsTel} {
      display: block;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    width: 100%;
    text-align: right;
    @media #{$tel} {
      font-size: 25px;
      margin-bottom: 10px;
    }
    @media #{$xsTel} {
      font-size: 25px;
      margin-bottom: 10px;
      margin-left: -5px;
      text-indent: 15px;
    }
  }
  &__img {
    width: 100%;
    max-width: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
    &_vertical {
      width: auto;
      max-width: 60%;
      height: auto;
      float: left;
      margin-right: 15px;
      box-sizing: border-box;
      @media #{$tel} {
        float: none;
        max-width: 100%;
      }
      @media #{$xsTel} {
        float: none;
        max-width: 100%;
      }
    }
  }
  &__text {
    font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
    @media #{$tel} {
      padding: 0 10px;
    }
    @media #{$xsTel} {
      padding: 0 10px;
    }
  }
}

.main-footer {
  background: $footerBg;
  border-top: 3px solid $headerBorder;
  height: 70px;//mbd
  margin-top: 70px;
  padding-top: 18px;
}
.footer-nav {
  list-style: none;
  text-align: center;
  font-size: 0;
  &__item {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
  }
  &__link {
    font-size: 16px;
    color: black;
    text-transform: lowercase;
  }
}
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  &__img {
    background-image: url("../img/logo-small.png");
    width: 33px;
    height: 29px;
  }
}