/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//declare variables
$headerBg: #E9EDF0;
$headerBorder: darken($headerBg, 5%);
$mainColor: #6EB64A;
// declare mixins
@mixin out {
  outline: 1px solid red;
}
@mixin out2 {
  outline: 1px solid blue;
}
@mixin out3 {
  outline: 1px solid black;
}
@mixin mainFont {
  font-family: 'Neucha', cursive;
}
body {
  @include mainFont;
}
.header {
  position: relative;
  background: $headerBg;
  border-bottom: 3px solid $headerBorder;

}
.nav {
  list-style: none;
  text-align: center;
  font-size: 0;
  &__item {
    display: inline-block;
    border-left: 2px solid white;

    &:last-of-type {
      border-right: 2px solid white;
    }
  }
  &__link {
    padding: 15px 40px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    color: black;
    &:hover {
      background-color: $headerBorder;
    }
  }
}
.lang-switch {
  display: flex;
  justify-content: space-between;
  width: 100px;//mbd
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  &__ua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-link {
      width: 30px;
      height: 30px;
      background: url("../img/ua-ico.png")no-repeat;
      display: block;
    }

  }
  &__ru {
    @extend .lang-switch__ua;
    &-link {
      @extend .lang-switch__ua-link;
      background: url("../img/rus-ico.png")no-repeat;
    }
  }
  &__text a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
.main-title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.contacts {
  &-box {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
.tel {
  width: 150px;//mbd
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__ico {
    width: 30px;
    height: 30px;
    background: url("../img/tel.png");
  }
  &__number {
    color: $mainColor;
    font-weight: bold;
    font-size: 19px;
  }
}
.logo {
  width: 98px;
  height: 100px;
  background: url("../img/logo-main.png");
}
.feedback {
  display: flex;
  align-items: center;

  &__btn {
    width: 160px;
    height: 35px;
    color: white;
    font-weight: bold;
    background: $mainColor;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.actual {
  margin-top: 30px;
  height: 500px;//mbd
  &__title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 1024px;
  }
  &__article {
    width: 32%;
    border: 1px solid;
    &-img {
      margin: 0 auto;
      max-width: 100%;
      display: block;
    }
    &-title {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      margin: 10px 0;
    }
    &-text {
      font-size: 19px;
      padding: 0 15px 10px 15px;
    }
  }


}