.slider-arrows, .langs, .order-btn{
	background: url(sprites.png) no-repeat;
}

.slider-arrows{
	background-position: -335px 0;
	width: 262px;
	height: 39px;
}

.langs{
	background-position: 0 -98px ;
	width: 161px;
	height: 64px;
}

.order-btn{
	background-position: 0 0;
	width: 240px;
	height: 79px;
}

